<div class="text-light container">
  <div class="row">
    <div class="row border--secondary bg--primary">
      <div class="badge bg--secondary fs-5">Summary</div>
      <div class="col-6">
        First Name:
        <span class="span--primary">{{ first.firstname.value }}</span>
      </div>
      <div class="col-6">
        Last Name:
        <span class="span--primary">{{ first.lastname.value }}</span>
      </div>
      <div>
        Email:
        <span class="span--primary">{{ first.email.value }}</span>
      </div>
      <div>
        Phone:
        <span class="span--primary">{{ first.phone.value }}</span>
      </div>
      <div class="col-6">
        Zip Code:
        <span class="span--primary">{{ first.zipcode.value }}</span>
      </div>
      <div class="col-6">
        State:
        <span class="span--primary"> {{ first.state.value }}</span>
      </div>
      <div>
        Country:
        <span class="span--primary">{{ first.countries.value }}</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="row border--secondary pb-2 bg--primary">
      <div>
        Product:
        <span class="span--primary">{{ second.product.value }}</span>
      </div>
      <div>
        Type:
        <span class="span--primary">{{ second.type.value }}</span>
      </div>
      <div>
        Description:
        <span class="span--primary">{{ second.description.value }}</span>
      </div>
      <div>
        Year:
        <span class="span--primary">{{ second.year.value }}</span>
      </div>
      <div>
        Day:
        <span class="span--primary">{{ second.day.value }}</span>
      </div>
    </div>
  </div>
</div>
